apiVersion: v1
kind: ConfigMap
metadata:
  name: sshjump-config-cm
  namespace: sshjump
data:
  config.yaml: |
    version: core.sshjump.dev/v1

    permissions:
    - username: "bob"
      key: "ssh-ed25519 AAAAC3NzaCXXXXXXXXXXXXXXXXXXXXXXXXXXX bob@bob"

      namespaces:
      - namespace: "benthos"
        services:
        - name: "benthos"
          ports:
            - 8080
      - namespace: "sshjump"
        services:
        - name: "sshjump"
          ports:
            - 8888
  key.rsa: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    XXXXX
    -----END OPENSSH PRIVATE KEY-----
