# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: download vendor
      run: go mod vendor

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.60.3
        args: --timeout=5m --modules-download-mode=vendor ./...

    - name: Test
      run: go test -race -mod=vendor -v ./...
      
    - name: Build
      run: go build -mod=vendor  -v ./...


